    body {
        background-color: black;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .transparent {
        background-color: transparent !important;
    }
    
    .topbar {
        height: 800px;
        background-color: transparent !important;
    }
    .logo{
        width: 15%;
        margin-top: 0px;
    }
    .main {
        background: black no-repeat center center fixed;
        color: white;
        margin-bottom: 9%;
        height: 800px;
        padding-top: 10%;
    }
    .cooreu {
        font-size: x-small;
    }
    
    .animacion {
        
        position: absolute;
        color: white;
        font-size: 5rem;
    }
    @keyframes primer {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(300px);
            margin-left: -80px;
        }
    }
    
    .primer {
        animation-name: primer;
        animation-delay: 8s;
        animation-duration: 8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @keyframes segundo {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(300px);
            margin-left: -80px;
        }
    }
    
    .segundo {
        animation-name: segundo;
        animation-delay: 11s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes segundo2 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(300px);
            margin-left: -80px;
        }
    }
    
    .segundo2 {
        animation-name: segundo2;
        animation-delay: 14s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes segundo3 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(300px);
            margin-left: -80px;
        }
    }
    
    .segundo3 {
        animation-name: segundo3;
        animation-delay: 17s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes segundo4 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(300px);
            margin-left: -80px;
        }
    }
    
    .segundo4 {
        animation-name: segundo4;
        animation-delay: 22s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes segundo5 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(300px);
            margin-left: -80px;
        }
    }
    
    .segundo5 {
        animation-name: segundo5;
        animation-delay: 27s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes segundo6 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(300px);
            margin-left: -80px;
        }
    }
    
    .segundo6 {
        animation-name: segundo6;
        animation-delay: 32s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes segundo7 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(300px);
            margin-left: -80px;
        }
    }
    
    .segundo7 {
        animation-name: segundo7;
        animation-delay: 37s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes segundo8 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
    }
    
    .segundo8 {
        animation-name: segundo8;
        animation-delay: 42s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    a {
        text-decoration: none;
    }
    /*FIN ANIMACION*/
    /*COMIENZO DROPDOWN*/
    
    .dropbtn {
        background-color: transparent;
        color: white;
        border: none;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        padding: 15%;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
        margin: 5px;
    }
    
    .dropdown-content a:hover {
        background-color: #ccc!important;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
        margin-top: 65%;
        margin-left: -158%;
        padding-top: 10%;
        text-align: right;
    }
    /*.dropdown:hover .dropbtn {
    background-color: #b38741;
    }*/
    .menu-servicios {
        position: absolute !important;
        transform: translate3d(-20px, 36px, 0px) !important;
        top: 0px !important;
        left: 0px !important;
        will-change: transform !important;
    }
    /*FIN DROPDOWN*/
    /*COMIENZO HAMBURGUESA*/
    
    #btn {
        display: block;
        cursor: pointer;
    }
    
    .bar {
        width: 30px;
        height: 5px;
        background: white;
        margin-bottom: 5px;
    }
    
    .bar:last-child {
        margin-bottom: 0px;
    }
    /*FIN HAMBURGUESA*/

    /*VIDEO*/
    #video  {
        position: absolute;
        align-items: center;
        z-index: 2 !important;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .w3-top, .w3-bar {
        z-index: 1 !important;
        
    }

    /*FIN VIDEO*/

    /*COMIENZO FOOTER*/
    
    footer {
        position: relative;
        z-index: 1;
    }
    .footer-logo {
        width: 25%;
        color: white;
    }
    .main-footer {
        color: white;
    }
    
    .socials {
        text-align: center;
        display: block; 
    }
    
    .lastfooter {
        text-align: start;
        height: 30px !important;
    }
    
    .fa {
        padding: 10px;
        font-size: 20px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }
    
    .fa-google {
        background: #dd4b39;
        color: white;
    }
    
    .fa-linkedin {
        background: #007bb5;
        color: white;
    }
    
    .fa-youtube {
        background: #bb0000;
        color: white;
    }
    /* FINAL FOOTER */
    /*RESPONNSIVE*/
    
    @media (max-width: 1000px) {

        body{
            width: 0vw ;
        }
        .main{
            margin-top: 7vh;
            height: 600px !important;
        }
        .cooreu{
            font-size: xx-small;
            width: 0vw;
        }
        #video{
            width: 100%;
            align-items: center;
            text-align: center;
            top: 0;
        }
        .animacion {
            font-size: 150%;
        }
        .logo{
            top: 0;
            left: 0;
            text-align: start;
            margin: 0;
            padding: 0;
            width: 25%;
        }
        .footer-logo {
            width: 125px;
        }
        .vacio {
            display: none;
        }
        .lastfooter {
            display: flex;
        }
        .info{
            text-align: center;
            width: max-content;
            margin-left: 15px;
        }
        .socials {
            display: flex;
        }
    }
    /*RESPONSIVE*/
    /*Filas y columnas */
    
    .row {
        width: 100%;
        display: flex;
        height: min-content;
    }
    
    .col-1 {
        width: 8.33%
    }
    
    .col-2 {
        width: 16.66%
    }
    
    .col-3 {
        width: 25%
    }
    
    .col-4 {
        width: 33.33%
    }
    
    .col-5 {
        width: 41.66%
    }
    
    .col-6 {
        width: 50%
    }
    
    .col-7 {
        width: 58.33%
    }
    
    .col-8 {
        width: 66.66%
    }
    
    .col-9 {
        width: 75%
    }
    
    .col-10 {
        width: 83.33%
    }
    
    .col-11 {
        width: 91.66%
    }
    
    .col-12 {
        width: 100%
    }