    *{
        font-family: 'Ubuntu', sans-serif;
    }

    body {
        background-color: black;
        font-family: 'Ubuntu', sans-serif !important;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Ubuntu', sans-serif !important;
    }
    .transparent {
        background-color: transparent !important;
    }
    
    .topbar {
        height: 800px;
        background-color: transparent !important;
    }
    .logo{
        width: 15%;
        margin-top: 0px;
    }
    .main {
        background: black no-repeat center center fixed;
        color: white;
        margin-bottom: 9%;
        height: fit-content;
        padding-top: 10%;
    }
    .cooreu {
        font-size: x-small;
    }
    .cooreu:hover{
        background-color: transparent !important;
        text-decoration: none;
        color: white !important;
    }
    
    .animacion {
        color: #fff;
        max-width: 80vw;
        line-height: 1.21;
        font-size: 4rem;
    }
    
    @keyframes primer {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(80%);            
            display: none;
        }
    }
    
    .primer {
        animation-name: primer;
        animation-delay: 8s;
        animation-duration: 8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @keyframes segundo {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(80vw);
            
            display: none;
        }
    }
    
    .segundo {
        animation-name: segundo;
        animation-delay: 11s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes segundo2 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(80%);
            
            display: none;
        }
    }
    
    .segundo2 {
        animation-name: segundo2;
        animation-delay: 14s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes segundo3 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(80%);
            
            display: none;
        }
    }
    
    .segundo3 {
        animation-name: segundo3;
        animation-delay: 17s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes segundo4 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(300px);
            
            display: none;
        }
    }
    
    .segundo4 {
        animation-name: segundo4;
        animation-delay: 22s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes segundo5 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(80%);
            
            display: none;
        }
    }
    
    .segundo5 {
        animation-name: segundo5;
        animation-delay: 27s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes segundo6 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(80%);
           
            display: none;
        }
    }
    
    .segundo6 {
        animation-name: segundo6;
        animation-delay: 32s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes segundo7 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 0;
            transform: translateX(80%);
            
            display: none;
        }
    }
    
    .segundo7 {
        animation-name: segundo7;
        animation-delay: 37s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes segundo8 {
        from {
            opacity: 1;
            transform: translateX(0px);
            color: white;
        }
        to {
            opacity: 1;
            transform: translateX(0px);
            color: white;

        }
    }
    
    .segundo8 {
        animation-name: segundo8;
        animation-delay: 42s;
        animation-duration:8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    /*HOVERS*/
    a:hover {
        text-decoration: none;
    }
    .w3-button:hover{
        background-color: transparent !important;
        color: white !important;
    }
    /*FIN HOVERS*/
    /*FIN ANIMACION*/
    /*COMIENZO DROPDOWN*/
    
    .dropbtn {
        background-color: transparent;
        color: white;
        border: none;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-menu{
        background-color: transparent !important;
        color: white;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        padding: 15%;
        background-color: transparent;
        color: white;
        min-width: 160px;
        box-shadow: none;
        z-index: 1;
    }
    
    .dropdown-content a {
        color: white;
        text-decoration: none;
        display: block;
        margin: 5px;
    }
    
    .dropdown-content a:hover {
        background-color: transparent!important;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
        margin-top: 65%;
        margin-left: -158%;
        padding-top: 10%;
        text-align: right;
    }
    /*.dropdown:hover .dropbtn {
    background-color: #b38741;
    }*/
    .menu-servicios {
        position: absolute !important;
        transform: translate3d(-20px, 36px, 0px) !important;
        top: 0px !important;
        left: 0px !important;
        will-change: transform !important;
    }
    /*FIN DROPDOWN*/
    /*COMIENZO HAMBURGUESA*/
    
    #btn {
        display: block;
        cursor: pointer;
        color: white;
    }
    .btn{
        color: white;
    }
    .btn:hover{
        color: white;
    }
    .bar {
        width: 30px;
        height: 5px;
        background: white;
        margin-bottom: 5px;
    }
    
    .bar:last-child {
        margin-bottom: 0px;
    }
    /*FIN HAMBURGUESA*/

    /*VIDEO*/
    #video  {
        position: absolute;
        align-items: center;
        z-index: 2 !important;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .w3-top, .w3-bar {
        z-index: 1 !important;
        
    }

    /*FIN VIDEO*/
    /*ONLY MOBIE */
    @media only screen and (min-width: 768px) {
        .onlymobile{
            display: none;
            
        }
    }
    .onlymobile{
        color: white;
    }

    /*ONLY MOBILE END*/
    /*COMIENZO FOOTER*/
    
    footer {
        position: relative;
        z-index: 1;
        font-size: x-small;
    }
    .footer-logo {
        width: 25%;
        color: white;
    }
    .main-footer {
        color: white;
    }
    footer span{
        margin-top: auto;
    }
    /* FINAL FOOTER */
    /*RESPONNSIVE*/
    
    @media only screen and (max-width: 768px) {
        *{
            max-width: 100vw !important ;
        }
        body{
            width: 100vw ;
        }
        .topbar{
            width: 49vw;
            padding: 0;
            margin: 0;
            letter-spacing: normal;
        }
        .bar{
            width: 20px;
            height: 2px;
        }
        .main{
            margin-top: 7vh;
            height: 100vh;
        }
        .cooreu{
            font-size: xx-small;
            width: 0vw;
        }
        
        #video{
            width: 100%;
            align-items: center;
            text-align: center;
            top: 0;
        }
        .animacion {
            font-size: calc(1em + 1vw);
            line-height: 1em;
            
        }
        .logo{
            top: 0;
            left: 0;
            text-align: start;
            margin: 0;
            padding: 0;
            width: 30%;
        }
        .footer-logo {
            width: 12vw;
            
        }
        .titol-footer{
            font-size: small;
        }
        .info{
            font-size: small;
        }
        footer span{
            display: none;
        }
        .lastfooter {
            display: flex;
        }
        .info{
            width: fit-content !important;
            margin-left: 7vw;
        }
        .info section{
            display: grid;
            font-size: xx-small;
        }
        .socials {
            display: flex;
            margin-left: 12vw;
        }
        @keyframes  primer{
                from {
                    opacity: 1;
                    
                    color: white;
                }
                to {
                    opacity: 0;
                                
                    display: none;
                }
        }
        @keyframes  segundo{
            from {
                opacity: 1;
                
                color: white;
            }
            to {
                opacity: 0;
                            
                display: none;
            }
        }
        @keyframes  segundo1{
            from {
                opacity: 1;
                
                color: white;
            }
            to {
                opacity: 0;
                            
                display: none;
            }
        }
        @keyframes  segundo2{
            from {
                opacity: 1;
                
                color: white;
            }
            to {
                opacity: 0;
                            
                display: none;
            }

        }
        @keyframes  segundo3{
            from {
                opacity: 1;
                
                color: white;
            }
            to {
                opacity: 0;
                            
                display: none;
            }
        }
        @keyframes  segundo4{
            from {
                opacity: 1;
                
                color: white;
            }
            to {
                opacity: 0;
                            
                display: none;
            }
        }
        @keyframes  segundo5{
            from {
                opacity: 1;
                
                color: white;
            }
            to {
                opacity: 0;
                            
                display: none;
            }
        }
        @keyframes  segundo6{
            from {
                opacity: 1;
                
                color: white;
            }
            to {
                opacity: 0;
                            
                display: none;
            }
        }
        @keyframes  segundo7{
            from {
                opacity: 1;
                
                color: white;
            }
            to {
                opacity: 0;
                            
                display: none;
            }
        }
    }
    /*RESPONSIVE*/
    /*Filas y columnas */
    
    .row {
        width: 100%;
        display: flex;
        height: min-content;
    }
    
    .col-1 {
        width: 8.33%
    }
    
    .col-2 {
        width: 16.66%
    }
    
    .col-3 {
        width: 25%
    }
    
    .col-4 {
        width: 33.33%
    }
    
    .col-5 {
        width: 41.66%
    }
    
    .col-6 {
        width: 50%
    }
    
    .col-7 {
        width: 58.33%
    }
    
    .col-8 {
        width: 66.66%
    }
    
    .col-9 {
        width: 75%
    }
    
    .col-10 {
        width: 83.33%
    }
    
    .col-11 {
        width: 91.66%
    }
    
    .col-12 {
        width: 100%
    }